.container {
	max-width: 80.0rem;
	padding-top: 3rem;
}

#home {
	background: #f4f5f6;
	position: relative;
	max-height: 30vh;
    padding-bottom: 1.5rem;
}

.thumbnail {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#email {
    width: 70%
}

.signup {
    width: 25%
}

